body{
   text-align: center;
}

h1{
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
}

h2{
  font-family: 'Indie Flower', cursive;
  font-size: 45px;
}

p{
  font-size: 17px;
}
iframe{
  float:left;
  display: inline-block;
}

.pictures{
  margin-bottom: 250px;
  display: inline-block;
}

.text{
  display:inline-block;
  width: 600px;
  margin-left: 21px;
}

.fampic{
  width: 30%;
  height: 50%;
  display: inline-block;
}

.tennis{
  width: 16%;
  height: 60%;
  display: inline-block;
}

.centeredtext{
  position:center;
  top: 50%
  left: 50%
  transform: translate(-50%, 50%);
}

.backgroundpic{
  position: relative;
  text-align: center;
}

.container{
  border: 1px black solid;
  width: 400px;
  height: 200px;
  margin: auto;
  display: block;
}

.adventurecode img{
  width: 400px;
  height: 200px;
}

.adventurecode{
  display: none;
}

.topnav{
  background-color: black;
  overflow: hidden;
}

.topnav a{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
