body{
    text-align: center;
}

h2{
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

p{
  font-size: 17px;
}

/*img{
  float:left;
}*/


.fampic{
  width: 25%;
  height: 25%;
}

.tennis{
   width: 15%;
  height: 15%;
}
.code{
  width: 25%;
  height: 25%;
}
