body{
   text-align: center;
}

h2{
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}

p{
  font-size: 17px;
}

/*img{
  float:left;
}*/


.fampic{
  width: 30%;
  height: 30%;
  float: left;
}

.tennis{
  width: 15%;
  height: 15%;
  float: left;
  clear: left;
}
.code{
  width: 30%;
  height: 30%;
  float: left;
  clear: left;
}
