body{
   text-align: center;
}

h1{
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
}

h2{
  font-family: 'Indie Flower', cursive;
  font-size: 45px;
}

p{
  font-size: 17px;
}
iframe{
  float: right;
}

img{
   display: inline-block;
}
   
.fampic{
  width: 30%;
  height: 30%;
  float: left;
}

.tennis{
  width: 15%;
  height: 15%;
  float: left;
  clear: left;
}
.adventurecode{
  width: 30%;
  height: 30%;
  float: left;
  clear: left;
}
